table
{
    width: 100%;
    height: 100%;
}
td, th
{
    text-align: center;
    position: relative;
    border: 1px solid black;
	opacity: 0.6;
}
h2{
    margin: 0;
    font-size: 1vw;
}
h1{
    text-align: center;
    color: white;
}
.no_border{
    border: none;
}
.num{
    position: absolute;
    text-align: left;
    margin: 0;
    bottom: 0;
}
.weight{
    position: absolute;
    text-align: right;
    margin: 0;
    top: 0;
    right: 0;
    margin-right: 3px;
}
td p{
    font-size: 1vw;
}
.orange {
    background-color: #FFCC33;
}
.green {
    background-color: #22FF22;
}
.blue {
    background-color: #77CCFF;
}
.gray {
    background-color: #DDDDDD;
}
.light-green {
    background-color: #77DD88;
}
.light-orange {
    background-color: #FFBB99;
}
.yellow {
    background-color: #FFFF44;
}
.light-brown {
    background-color: #DDBBBB;
}
.ligth-blue {
    background-color: #99DDCC;
}
.pink {
    background-color: #EEBBDD;
}
body {
    background: url(https://images.wallpaperscraft.com/image/giraffe_face_ears_spotted_26318_1920x1080.jpg);
}
